.navbar {
    background-color: $navbar-color;

    position: fixed; 
    top: 0;

    width: 100%; 
    height: 100px;

    transition: top $navbar-fade-duration; 

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
      margin: 0;
      font-family: 'Merriweather Sans', sans-serif;
    }

    .navbar-logo {
      width: 30%;
      padding: 2rem 3rem;
    }

    .navbar-theme-switcher {
      height: 100%;

      padding: 2rem 3rem;

      @include d-flex-row-center-center;

      > button {
        height: 100%;
        width: 30px;

        @include button-reset;

        > img {
          filter: invert(100%);
          height: 100%;
          width: auto;
          opacity: 0.8;

          transition-duration: $switcher-hover-duration;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .navbar-links {
      width: 30%;
      height: 100%;

      padding: 0 3rem;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;

      .navbar-links-item {
        height: 100%;
        flex: 1;

        @include button-reset;
        @include d-flex-row-center-center;

        transition-duration: $navbar-item-hover-duration;

        &:hover {
          background: rgba(51, 51, 51, 0.8);
        }
    }
  }
}

.hide {
  top: -100px;
}