.projects-section {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    padding: 9rem;

    @include for-small-desktop-below {
        padding: 6rem;
    }

    @include for-desktop-below {
        padding: 0rem;
    }

    @include for-tablet-portrait {
        padding: 3rem;
    }

    .project {
        width: 100%;
    
        display: flex;
        flex-flow: row nowrap;
    
        transition-duration: $project-fade-duration;

        @include for-desktop-below {
            margin-bottom: 6rem;
        }

        @include for-tablet-portrait-below {
            flex-flow: column nowrap;
        }

        @include for-desktop-below {
            box-shadow:         inset 0 0 10px #000000;
        }

        .project-img {
            flex: 50%;
        
            overflow: hidden;

            position: relative;

            @include for-tablet-portrait-below {
                order: 1;
            }

            @include for-phone-only {
                padding: 0;
            }

            > img {
                transition: all $img-zoom-duration ease;
                
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 10px #000000;
            
                &.hover {
                    transform: scale($img-zoom-scale);
                    filter: brightness(50%);
                }
            }

            .project-img-buttons-wrapper {
                position: absolute;
                left: 0%;
                bottom: 0%;

                width: 100%;
                height: 100%;

                pointer-events : none;

                @include d-flex-row-center-center;
                align-items: flex-end;

                padding-bottom: 5vh;

                .project-img-buttons {
                    @include d-flex-row-center-center;

                    pointer-events : none;
                    flex: 50% 1;

                    button {
                        @include d-flex-row-center-center;

                        background: none;

                        pointer-events: auto;

                        border: 2px solid white;
                        border-radius: 10px;

                        color: white;

                        padding: 0.5rem;
                        margin-right: 0.5rem;
                        margin-bottom: 0.5rem;

                        transition-duration: $tag-hover-duration;

                        font-size: 1.5rem;
                        font-weight: bold;

                        display: none;

                        @include for-small-desktop-below {
                            font-size: 1rem;
                        }

                        @include for-tablet-portrait-below {
                            margin-bottom: 2rem;
                        }

                        &:hover {
                            background: white;
                            color: black;
                        }

                        &.display {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @include for-mini-phone-only {
                                flex-flow: column wrap;
                            }
                        }

                        cursor: pointer;

                        i {
                            margin-right: 0.5rem;
                            font-size: $project-icon-size;

                            @include for-small-desktop-below {
                                font-size: $project-tablet-icon-size;
                            }
                        }
                    }
                }
            }
        }

        .project-desc {
            flex: 50%;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;    
            
            text-align: center;

            padding: 3rem 0;

            @include for-tablet-portrait-below {
                order: 2;
            }



            .project-desc-title {
                font-size: 2rem;
                h1 {
                    padding: 0;
                    margin: 0;
                }
            }

            .project-desc-body {
                padding: 2rem;

                @include for-mini-phone-only {
                    padding: 1rem;
                }
            }

            .project-desc-tags {
                width: 50%;

                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                @include for-small-desktop-below {
                    width: 80%;
                }

                @include for-phone-only {
                    width: 60%;
                }
                
                @include for-mini-phone-only {
                    width: 80%;
                }

                .project-desc-tags-tag {
                    @include d-flex-row-center-center;

                    border: 2px solid white;
                    border-radius: 30px;

                    padding: 0.5rem;
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;

                    transition-duration: $tag-hover-duration;

                    &:hover {
                        background: white;
                        color: black;
                    }

                    i {
                        margin-right: 0.5rem;
                        font-size: $tag-icon-size;
                    }
                }
            }
        }
    }
}