.projects-section {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
}

.project {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    transition-duration: $project-fade-duration;

    &:hover {
        background: $hover-color;
    }
}

.project-img {
    flex: 50%;

    overflow: hidden;

    > img {
        transition: all $img-zoom-duration ease;
        
        width: 100%;
        height: auto;

        &:hover {
            transform: scale($img-zoom-scale);
            filter: brightness(50%);
        }
    }
}

.project-desc {
    flex: 50%;
}