.contact-section {
    width: 100%;

    background: $contact-bg;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 9rem 9rem 0 9rem;

    @include for-phone-only {
        padding: 3rem 3rem 0 3rem;
    }

    h1 {
        font-size: 5rem;
        font-weight: 300;
        text-decoration: none;
        margin: 0;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
    }

    p:nth-child(2) {
        font-weight: 300;
    }

    .contact-section-contacts {
        .contact-section-contact {

            margin-bottom: 1rem;

            .contact-section-contact-icon {
                display: inline-block;

                padding: 1.25rem;
                margin-right: 0.5rem;

                background: $contact-icon-color;
                border-radius: 70%;

                transition-duration: $contact-icon-hover-duration;

                cursor: pointer;

                @include for-phone-only {
                    padding: 1.25rem;
                }

                i {
                    font-size: 2rem;
                    @include for-phone-only {
                        font-size: 1.25rem;
                    }
                }

                &:hover {
                    background: lighten($color: $contact-icon-color, $amount: 15);
                }
            }
        }
    }
}