/* Theme Colors */
$bg-color: black;

$navbar-color: rgba(0, 0, 0, 0.8);
$navbar-color-hover: rgba(0, 0, 0, 1);

$hover-color: rgba(20, 20, 20, 0.5);

/* Navbar */
$navbar-fade-duration: 0.25s;
$switcher-hover-duration: 0.25s;
$navbar-item-hover-duration: 0.25s;

/* Projects */
$project-fade-duration: 0.15s;

$img-zoom-scale: 1.1;
$img-zoom-duration: 0.25s;