/* General colors */
$bg-color: black;


/* Navbar */
$navbar-fade-duration: 0.25s;
$navbar-color: rgba(0, 0, 0, 0.8);

/* Projects */
$hover-color: rgba(20, 20, 20, 0.5);
$project-fade-duration: 0.15s;

$img-zoom-scale: 1.1;
$img-zoom-duration: 0.25s;