/* General colors */
/* Navbar */
/* Projects */
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:300,400,700&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Merriweather', serif; }

a {
  color: white;
  font-weight: bold; }

#root {
  margin-top: 100px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  transition: top 0.25s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .navbar h1 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif; }
  .navbar .navbar-logo {
    width: 30%;
    padding: 2rem 3rem; }
  .navbar .navbar-theme-switcher {
    height: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    .navbar .navbar-theme-switcher > button {
      height: 100%;
      width: 30px;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer; }
      .navbar .navbar-theme-switcher > button > img {
        filter: invert(100%);
        height: 100%;
        width: auto;
        opacity: 0.8;
        transition-duration: 0.25s; }
        .navbar .navbar-theme-switcher > button > img:hover {
          opacity: 1; }
  .navbar .navbar-links {
    width: 30%;
    height: 100%;
    padding: 0 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .navbar .navbar-links .navbar-links-item {
      height: 100%;
      flex: 1;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      transition-duration: 0.25s; }
      .navbar .navbar-links .navbar-links-item:hover {
        background: rgba(51, 51, 51, 0.8); }

.hide {
  top: -100px; }

.jumbotron-section {
  padding: 6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .jumbotron-section .jumbotron {
    width: fit-content;
    font-size: 3.5rem;
    font-weight: 300; }
    .jumbotron-section .jumbotron p {
      padding: 0;
      margin: 0; }
    .jumbotron-section .jumbotron .jumbotron-small-text {
      margin-top: 2rem;
      font-size: 1.5rem;
      text-align: right; }

.projects-section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap; }

.project {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  transition-duration: 0.15s;
  /*
  &:hover {
      background: $hover-color;
  }
  */ }

.project-img {
  flex: 50%;
  overflow: hidden; }
  .project-img > img {
    transition: all 0.25s ease;
    width: 100%;
    height: 100%; }
    .project-img > img:hover {
      transform: scale(1.1);
      filter: brightness(50%); }

.project-desc {
  flex: 50%; }

/*# sourceMappingURL=app.css.map */
