footer {
    background: $contact-bg;

    height: 9rem;

    padding: 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    a {
        text-decoration: none;
    }

    .footer-text {
        display: flex;
        justify-content: space-between;

        @include for-phone-only {
            flex-flow: column nowrap;
        }

        p {
            margin: 0;
            letter-spacing: 2px;
            opacity: 0.8;

            display: flex;
            align-items: center;

            @include for-phone-only {
                justify-content: center;
                margin-bottom: 0.5rem;
            }

            i {
                font-size: $tag-icon-size;
                margin-right: 0.25rem;
            }
        }
    }
}