@import './vars/vars';

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:300,400,700&display=swap');

@import './mixins/mixins';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    

    background-color: $bg-color;

    color: white;

    font-family: 'Merriweather', serif;
}

a {
    color: white;
    font-weight: bold;
}

#root {
    margin-top: 100px;
}

@import './navbar/navbar';
@import './jumbotron/jumbotron';
@import './projects/projects';


