@import './vars/vars';

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:300,400,700&display=swap');

@import './mixins/mixins';
@import './mixins/mediaQueries';

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-image: url("../img/bg/pw_maze_black.png");

    color: white;

    font-family: 'Merriweather', serif;
}

a {
    color: white;
    font-weight: bold;

    opacity: 0.8;

    transition-duration: 0.25s;

    &:hover {
        opacity: 1;
    }
}



#root {
    margin-top: 100px;
}

@import './navbar/navbar';
@import './jumbotron/jumbotron';
@import './projects/projects';
@import './contact/contact';
@import './footer/footer';


